
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .uploadArea {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
    flex-basis: 50%;
  }
  

  