/* Dashboard.module.css */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.dashboardBody {
  background-color: #f1f9f9; /* Very light grey background */
}

.logo {
  height: 25px; /* Adjust the height as needed */
  width: auto; /* Keeps the aspect ratio intact */
  cursor: pointer;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align to the right */
}

/* Improved Styling for Navigation Bar */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00308f; /* Consistent blue color */
  padding: 10px 20px; /* Uniform padding */
  display: flex;
  justify-content: space-between; /* Space out elements */
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Subtle box shadow */
  font-size: 18px;
  font-family: "Lato";
  height: 50px;
}

.navLink {
  text-decoration: none;
  color: #fff;
  white-space: nowrap; /* Prevent text from wrapping */
  font-weight: bold;
  margin-left: 25%; /* Adjust the margin between regular links */
  cursor: pointer;
}

.dashboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #88bdbc; /* Soft teal for text */
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
    font-family: "Lato";
  }
  
  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    padding: 2rem;
  }
