@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.homeBody {
    font-family: "Lato";
}

.navbar{
    position:absolute;
    padding-bottom: 70px;
}

.mainContainer {
    
}