@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.HomeBody {
  background-color: #f5f5f5;
}

.homeBody {
  font-family: "Lato";
}

.navbar {
  position: absolute;
}

.mainContainer {

  padding-top: 78px;
}

.cardContainer {
  padding-top: 78px; /* Add top padding to the section equal to navbar height */
  margin-top: -78px; /* Add negative margin to pull the section back up */
}
