.ReviewBody {
  background-color: #f1f9f9;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #000000;
  font-size: calc(1em + 1vw);
  line-height: 1;
  font-weight: 600;
}

.topContainer {
  display:grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  place-items: center;
  height: 40vh;
  min-height: 250px;
}

.topOne {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  min-height: 250px;
}

.topTwo, .topTwo, .bottomOne, .bottomTwo, .bottomThree {
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.bottomOne, .bottomTwo, .bottomThree {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.topOne, .topTwo {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.bottomContainer {
  display:grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  place-items: center;
  height: 35vh;
}

.bottom {
  bottom: 0;
  position: absolute;
  height: 6vh;
}

.correctness {
  color: #666;
  font-size: calc(2em + 1.8vw);
  line-height: 1.6;
  font-weight: 600;
}

.summaryText {
  color: #666;
  font-size: calc(0.4em + 1.5vw);
  line-height: 1.6;
  font-weight: 600;
}

.returnButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 9px;
  text-align:center;
  transition-duration: .1s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.returnButton:hover {
  color: #fff;
  background: #000;
}