.ReviewBody {
  background-color: #f1f9f9;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  width: 100%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reviewContainer {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
}

.chartContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.summaryContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.summaryHeading {
  color: #333;
  margin-bottom: 1.5em;
  font-size: 2.5em;
  font-weight: bold;
}

.summaryText {
  color: #666;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 600;
}

.chartTitle {
  text-align: center;
  font-size: 2.5em;
  color: #333;
}

.percentageDisplay {
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
  color: #333;

}

.bottomContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 5%;
}

.returnButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 9px;
  text-align:center;
  transition-duration: .1s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.returnButton:hover {
  color: #fff;
  background: #000;
}