.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px;
  background-color: #f3fff6; /* Example background color */
  height: 45vw;
  min-height: 500px;
  font-weight: 400;
}

.content {
  flex-basis: 50%; /* Adjust based on your layout/design */
}

.title {
  font-size: calc(1.2vw + 1em);
  margin-bottom: 10px;
  font-weight: 500;
}

.description {
  font-size: calc(0.9vw + 0.6em);
}

.teamList {
  font-size: calc(0.4vw + 0.7em);
}

.teamList td {
  padding-right: 30px;
}

.imageContainer {
  flex-basis: 50%; /* Adjust based on your layout/design */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}

.image {
  max-width: 100%; /* Makes sure the image is responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 25px;
}

.fadeInLeft {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.fadeOutLeft {
  opacity: 0;
  transform: translateX(-100px); /* Adjust as needed */
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}


.fadeInRight {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.fadeOutRight {
  opacity: 0;
  transform: translateX(100px); /* Adjust as needed */
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}