.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f1f9f9;
  font-size: calc(0.4vw + 0.6em);
}

.table tbody tr:hover,
.table tbody tr:focus {
  cursor: pointer;
}

.table tr {
  white-space: nowrap;
  height: 72px;
}

/* @media (max-height: 1000px) {
  .table tbody td {
    font-size: 16px;
  }
  .table thead th {
    font-size: 16px;
  }
  .table tr {
    white-space: nowrap;
    padding: 12px 12px 12px 0;
    height: 60px;
  }
} */

/* @media (max-width: 1300px) {
  .table tbody td {
    font-size: 16px;
  }
  .table thead th {
    font-size: 16px;
  }
  .table tr {
    white-space: nowrap;
    padding: 12px 12px 12px 0;
    height: 60px;
  }
} */

.centerTd {
  text-align: center;
}

.centerTh {
  background-color: #04a96d;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none; /* Prevents text selection */
  font-size: calc(0.4vw + 0.6em);
  font-weight: 700;
}

.th {
  background-color: #04a96d;
  color: white;
  padding: 3px;
  text-align: left;
  cursor: pointer;
  user-select: none; /* Prevents text selection */
  font-size: calc(0.4vw + 0.6em);
  font-weight: 700;
}
