.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #fff4f4; /* Example background color */
    height: 1000px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .content {
    flex-basis: 50%; /* Adjust based on your layout/design */
  }
  
  .title {
    font-size: 24px; /* Example font size */
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px; /* Example font size */
  }
  
  .imageContainer {
    flex-basis: 50%; /* Adjust based on your layout/design */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
  }
  
  .image {
    max-width: 100%; /* Makes sure the image is responsive */
    height: auto; /* Maintain aspect ratio */
    border-radius: 25px;
  }
  