.card {
  transition: all 1s;
  background-color: #ffffff;
  margin: 0.5rem;
  padding: 1rem; 
  position: relative;
  max-width: 340px;
  max-height: 275;
  width: 17vw; 
  height: 13.4vw; 
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
}

.greycard {
  background-color: #d4d4d4;
  margin: 0.5rem;
  padding: 1rem; 
  position: relative;
  max-width: 340px;
  max-height: 275;
  width: 17vw; 
  height: 13.4vw; 
  font-family: "Noto Sans", sans-serif;
  pointer-events: none; 
}

.card.interactive:hover {
  transform: translateY(-5px); /* Move up the card slightly */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); /* Shadow for lifted effect */
}

.card.interactive:hover .decoration {
  background-color: rgba(59, 130, 246, 0.5); /* Change color on hover */
  width: 50%; /* Change width on hover */
}


.decoration {
  position: absolute; /* Positioned absolutely within the card */
  background-color: rgba(59, 130, 246, 0.5); /* Semi-transparent blue */
  top: 0; /* Align to the top of the card */
  left: 0; /* Align to the left of the card */
  width: 6rem; /* Initial width */
  height: 0.25rem; /* Height of the decoration bar */
  transition: all 0.2s; /* Smooth transition for properties */
}

.innerCard {
  padding: 2% 5% 5% 5%;
}

.icon {
  height: 35px; /* Adjust the height as needed */
  width: auto; /* Keeps the aspect ratio intact */
}

.text {
  margin-top: 1rem; /* Equivalent to mt-8 (8 * 0.25rem) */
  font-size: calc(0.9vh + 12px); /* Equivalent to text-lg */
  font-weight: 500; /* Equivalent to font-semibold */
  color: black; /* Equivalent to text-black */
  font-family: "Noto Sans", sans-serif;
}



/* .card {
  transition: all 1s;
  background-color: #ffffff;
  margin: 0.5rem;
  padding: 1rem; 
  position: relative;
  max-width: 340px;
  max-height: 275;
  width: 17vw; 
  height: 13.4vw; 
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25); 
}

.card:hover .decoration {
  background-color: rgba(59, 130, 246, 0.5); 
  width: 50%; 
}

.decoration {
  position: absolute;
  background-color: rgba(59, 130, 246, 0.5); 
  top: 0; 
  left: 0;
  width: 6rem;
  height: 0.25rem;
  transition: all 0.2s; 
}

.innerCard {
  padding: 2% 5% 5% 5%;
}

.icon {
  height: 35px;
  width: auto;
}

.text {
  margin-top: 1rem;
  font-size: calc(0.9vh + 12px);
  font-weight: 500;
  color: black; 
  font-family: "Noto Sans", sans-serif;
} */
