.logo {
  height: 25px; /* Adjust the height as needed */
  width: auto; /* Keeps the aspect ratio intact */
  cursor: pointer;
  padding-left: 5%;
  margin-top: 6%;
  padding-right: 0%;
}

.leftContainer {
  display: flex;
  align-items: center;
}

.rightContainer {
  display: flex;
  width: 15%;
  justify-content: flex-end;
}

/* Improved Styling for Navigation Bar */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #00308f; /* Consistent blue color */
  padding: 10px 20px; /* Uniform padding */
  display: flex;
  justify-content: space-between; /* Space out elements */
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Subtle box shadow */
  font-size: 18px;
  font-family: "Lato";
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.itemContainer, .leftItemContainer {
  border-radius: 8px; /* Adjust as needed for rounded corners */
  transition: background-color 0.2s ease; /* Smooth transition for the filter effect */
  margin-left: 8%;
  padding-left: 7%;
  padding-right: 7%;
  cursor: pointer;
}

.itemContainer:hover, .leftItemContainer:hover {
  background-color: #ffffff1c;
}

@media (max-width: 700px) {
  .leftItemContainer {
    display: none;
  }
}