.menuCard {
  width: 40%; /* Adjust width to match the upload area */
  padding: 1.5%;
  border: 1px solid #ccc;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 5%;
  margin-left: 3%;
  background-color: #f1f9f9;
} 

.menuSection {
  margin-bottom: 2em;
}

.menuLabel {
  display: block;
}

.menuButton, .modelButton {
  position: relative;
  padding: 10px 20px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  margin-right: 1em;
  font-size: 17px;
  font-weight: 700;
}

.menuButton.selected, .modelButton.selected {
  color: #fff;
  background: #000;
}

.submitButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #000;
  background: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 9px;
  text-align:center;
  transition-duration: .1s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  margin-top: 2%;  
}

.submitButton:hover {
  color: #fff;
  background: #000;
}

.modelButton::before {
  content: attr(data-tooltip); /* Tooltip text */
  position: absolute;
  white-space: nowrap;
  bottom: calc(100% + 5px); /* Spacing between button and tooltip */
  left: 50%; /* Center the tooltip */
  transform: translateX(-50%) translateY(-10px);
  padding: 5px 10px;
  border-radius: 6px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  z-index: 1000; /* Ensure it's on top of other elements */
}

.modelButton:hover::before {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(-15px);
}