.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  background-color: #f1f9f9; /* Example background color */

}

/* .bottomContent {
  margin-top: 5%;
  margin-bottom: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
}

.leftContainer {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.title {
  font-size: calc(1.5vw + 1em);
  text-align: center;
  margin-bottom: 3%;
  white-space: nowrap;
}

.subtitle {
  font-size: calc(1.2vw + 0.7em);
  margin-bottom: 4%;
  text-align: center;
}

.description {
  font-size: calc(1.4vw + 0.7em);
  margin-bottom: 4%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

/* .subDescription {
  font-size: 20px;
  margin-bottom: 4%;
} */

.imageContainer {
  width: 50%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.image {
  max-width: 100%; /* Makes sure the image is responsive */
  height: auto; /* Maintain aspect ratio */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.signUpButton {
  display: block;
  margin: 0 auto;
  background-color: #7be6e6;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.signUpButton:focus {
  outline: 0;
}

.signUpButton:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.signUpButton:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .signUpButton {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}

/* .secTitle {
  font-size: 40px; 
  text-align: center;
  white-space: nowrap;
}

.secImageContainer {
  flex-basis: 40%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.secImage {
  max-width: 100%;
  height: auto; 
} */

/* .metricList {
  list-style:circle;
  padding: 0;
  margin: 0;
} */

/* .metricList li{
  font-size: 24px;
  margin-bottom: 2%;
} */

.section1, .section2, .section3 {
  width:100%;
  white-space: nowrap;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.step{
  font-size: calc(1.6vw + 1em);
}

.stepDescription {
  font-size: calc(1.3vw + 0.7em);
}

  
.section1 {
  background-color:#8ef2ff;
}

.section2 {
  background-color:#f7ff8e;
}

.section3 {
  background-color:#a5ff8e;
}

.setApart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efe9ff; /* Example background color */
}

.subSectionTitle {
  font-size: calc(2vw + 1em);
  margin-top: 80px;
}

.secondSubSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcffe9;
}