.scrollableTableContainer {
  max-height: 750px; /* Adjust this value as needed */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Hides horizontal scrollbar, remove if horizontal scrolling is also desired */
}

.dataframe {
  width: 100%;
  border-collapse: collapse; /* This ensures borders collapse into a single border */
}

.dataframe th {
  background-color: #0080cf; /* Adjust to match the header color you want */
  padding: 3px;
  color: #ffffff;
}

.dataframe tr {
  border-bottom: 1px solid #919191; /* Adds a border to each row */
}

.dataframe tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.dataframe td {
  border: 1px solid #919191; /* Sets a 1px solid black border */
}
