.scoreBoard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-top: 20px;
  flex-shrink: 0;
  width: 18%; /* Percentage width for larger screens */
  max-width: 300px; /* Maximum width */
  position: fixed;
  right: 20px;
  top: 60px;
  /* Other styles... */
}

/* Hide the scoreBoard on smaller screens */
@media (max-width: 480px) { /* Adjust the max-width as needed */
  .scoreBoard {
    display: none;
  }
}

.title {
  line-height: 1.66em;
  margin: 0;
  font-family: 'Lato';
  font-size: 1.25em; /* Adjusted for scalability */
  padding-bottom: 1%;
  text-align: center;
}

.questionList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Using fractions of available space */
  gap: 0.5em; /* Adjusted for relative sizing */
  justify-content: center;
}

.correct, .wrong {
  width: 2.5em; /* Adjusted for relative sizing */
  height: 2.5em; /* Adjusted for relative sizing */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2em; /* Adjusted for relative sizing */
  cursor: pointer;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-shadow: 0px 0.1em 0.2em rgba(0, 0, 0, 0.25);
}

.correct {
  background-color: #c9ffcb;
  border: 2px solid #007304;
  color: #277d2a;
}

.wrong {
  background-color: #fed2cf;
  border: 2px solid #760901;
  color: #882922;
}

.scoreStats {
  margin-top: 2%; /* Relative to parent's width */
  font-family: 'Lato';
}
