.scoreBoard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 20px;
  flex-shrink: 0;
  right: 20px;
  top: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f1f9f9;
}

/* Hide the scoreBoard on smaller screens */
@media (max-width: 800px) { /* Adjust the max-width as needed */
  .scoreBoard {
    display: none;
  }
}

.title {
  line-height: 1.66em;
  margin: 0;
  font-family: 'Lato';
  font-size: 1.25em; /* Adjusted for scalability */
  padding-bottom: 1%;
  text-align: center;
}

.questionList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto new lines as needed */
  justify-content: left; /* Center items horizontally */
  align-items: start; /* Align items to the start of the flex line */
  gap: 0.5em; /* Space between items */
}

.correct, .wrong {
  width: 2.5em; /* Adjusted for relative sizing */
  height: 2.5em; /* Adjusted for relative sizing */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2em; /* Adjusted for relative sizing */
  cursor: pointer;
  font-weight: bold;
  text-shadow: 0px 0.1em 0.2em rgba(0, 0, 0, 0.25);
}

.correct {
  background-color: #c9ffcb;
  border: 2px solid #007304;
  color: #007304;
}

.wrong {
  background-color: #fed2cf;
  border: 2px solid #760901;
  color: #760901;
}

.scoreStats {
  margin-top: 2%; /* Relative to parent's width */
}
