@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 6%;
  min-width: 150px;
  height: 100%;
  overflow: auto;
  background-color: #00308f;
  font-size: 1.4vh;
  display: flex; /* Make sidebar a flex container */
  flex-direction: column; /* Align children vertically */
  justify-content: space-between;
  font-family: "Lato";
  font-weight: 600;
}

@media (max-height: 1000px) {
  .sidebar {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  .sidebar {
    font-size: 16px;
  }
}

.logoContainer {
  width: 100%;
  align-items: center;
  text-align: center;
}

.listItem {
  display: block;
  color: #fff;
  padding: 8%;
  text-decoration: none;
  cursor: pointer;
}

.lenny {
  display: block;
  color: #7a7a7a;
  padding: 8%;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  height: 1vw;
  min-height: 18px;
  object-fit: contain;
  cursor: pointer;
  padding-top: 1.2em;
  padding-bottom: 0.1em;
}

.lowerContainer {
  width: 100%;
}

.upperContainer {
  width: 100%;
}

.itemContainer {
  border-radius: 8px;
  transition: background-color 0.2s ease;
  margin-left: 8%;
  margin-right: 8%;
}

.itemContainer:hover {
  background-color: #ffffff1c;
}

.space {
  font-size: 1vh;
  height: 2px;
}