/* Sidebar.module.css */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 6%;
  max-width: 6%;
  min-width: 150px;
  height: 100%;
  overflow: auto;
  text-align: center;
  background-color: #00308f;
  font-size: 1.4vh;
  display: flex; /* Make sidebar a flex container */
  flex-direction: column; /* Align children vertically */
  justify-content: space-between; /* Pushes .lowerContainer to the bottom */
}

@media (max-height: 1000px) {
  .sidebar {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  .sidebar {
    font-size: 16px;
  }
}

.listItem {
  display: block;
  color: #fff;
  padding: 8%;
  text-decoration: none;
  cursor: pointer;
}

.divider,
.subDivider {
  border: 0;
  height: 1px;
  background-color: #ffffff79;
  width: 75%;
}

.subDivider {
  width: 60%;
}

.logo {
  height: 1vw;
  min-height: 18px;
  object-fit: contain;
  cursor: pointer;
  padding-top: 1.2em;
  padding-bottom: 0.1em;
}

.lowerContainer {
  width: 100%;
}

.itemContainer {
  border-radius: 8px;
  transition: background-color 0.2s ease;
  margin-left: 8%;
  margin-right: 8%;
}

.itemContainer:hover {
  background-color: #ffffff1c;
}
